new_python/packages/site-packages/torch/*
new_python/packages/dist-packages/torch/*
new_python/app/scripts/test/*
new_python/app/scripts/processed_frames/*
new_python/packages/dist-packages/Cython-0.29.32.dist-info/
new_python/packages/dist-packages/Cython/*
new_python/packages/dist-packages/__pycache__/cython.cpython-39.pyc
new_python/packages/dist-packages/cuda/*
new_python/packages/dist-packages/cuda_python-11.8.0.dist-info/
new_python/packages/dist-packages/cython.py
new_python/packages/dist-packages/flatbuffers-22.9.24-py3.9.egg/flatbuffers/__pycache__/
new_python/packages/dist-packages/pyximport/*
new_python/packages/site-packages/torch/lib/libtorch_cpu.so
new_python/packages/dist-packages/tensorflow/*
new_python/packages/site-packages/tensorflow/*
new_python/packages/dist-packages/grpc/*
new_python/packages/site-packages/grpc/*
